<!DOCTYPE html>
<html>
<head>
    <title>Add Employee</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>Add Employee</h1>

<form action="/add" method="POST">
    <input type="text" name="name" placeholder="Name" required>
    <input type="text" name="department" placeholder="Department" required>
    <input type="number" name="salary" placeholder="Basic Salary" required>
    <!-- <input type="text" name="gender" placeholder="Gender" required> -->
     <select name="gender" required>
        <option value="">Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
    </select>
    <button type="submit">Add Employee</button>
</form>

<a href="/">Back</a>

</body>
</html>
