<!DOCTYPE html>
<html>
<head>
    <title>Edit Employee</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>Edit Employee</h1>

<form action="/edit/<%= employee.id %>" method="POST">
    <input type="text" name="name" value="<%= employee.name %>" required>
    <input type="text" name="department" value="<%= employee.department %>" required>
    <input type="number" name="salary" value="<%= employee.salary %>" required>
         <select name="gender" required>
        <option value="">Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
    </select>
    <button type="submit">Update Employee</button>
</form>

<a href="/">Back</a>

</body>
</html>
